<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../Partials/head.ejs') %>
        <link rel="stylesheet" href="/css/HomePage/HomePage.css">
        <style>
            .infoBox {
                width: 40%;
                min-width: 350px;
            }
        </style>
</head>

<body>
    <div class="wrapper">
        <%- include('../Partials/mainnav.ejs')%>
            <main class="mainContainer p-4">
                <div class="infoBoxContainer">
                    <div class="infoBox">
                        <div class="infoBox_text">
                            <h2 class="infoBox_value"><%=pendingPatientslist.length%></h2>
                            <h3 class="infoBox_tag">Pending Patients</h3>
                        </div>
                        <img src="/Images/HomePageIcons/patient_65px.png" class="infoBox_image">
                    </div>
                    <div class="infoBox">
                        <div class="infoBox_text">
                            <h2 class="infoBox_value"><%=todayAppointment.length%></h2>
                            <h3 class="infoBox_tag">Today's Appointments</h3>
                        </div>
                        <img src="/Images/HomePageIcons/today_80px.png" class="infoBox_image">
                    </div>

                </div>
                <% if(pendingPatientslist.length > 0){%>
                    <div class="row justify-content-center align-items-center mt-3">
                            <div class="col">
                                <div class="tableContainer">
                                    <table class="table table-borderless table-hover">
                                        <caption>Pending Patient</caption>
                                        <thead>
                                            <tr>
                                                <th>Patient Number</th>
                                                <th>Patient Name</th>
                                                <th>Phone Number</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%pendingPatientslist.forEach(patient=>{%>
                                                <tr>
                                                    <td><%=patient.patientNo%></td> 
                                                    <td><%=patient.name%></td> 
                                                    <td><%=patient.phoneNo%></td> 
                                                 </tr>
                                                
                                            <%})%>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
        
                        </div>
                <%}%>

                <div class="row justify-content-center align-items-center mt-3">
                    <div class="col">
                        <div class="tableContainer">
                            <table class="table table-borderless table-hover">
                                <caption>Today's Appointments</caption>
                                <thead>
                                    <tr>
                                        <th>Patient Number</th>
                                        <th>Patient Name</th>
                                        <th>Phone Number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%todayAppointment.forEach(patient=>{%>
                                        <tr>
                                            <td><%=patient.patientNo%></td> 
                                            <td><%=patient.name%></td> 
                                            <td><%=patient.phoneNo%></td> 
                                         </tr>
                                        
                                    <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </main>
    </div>
    <script src="/js/HomePage.js"></script>
</body>

</html>