<div class="container-fluid paymentContainer h-100 paymentContainer">
    <div class="paymentContainer_history shadow-lg m-2 mb-3">
        <table class="table table-borderless">
            <caption>Payment History</caption>
            <thead>
                <tr>
                    <th>Payment Number</th>
                    <th>Payment Details</th>
                    <th>Date Of Payment</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
                <% for(let payment of completedPayments[0]){ %> 
                    <tr>
                        <td>
                            <%= payment.PaymentNumber %>
                        </td>
                        <td>
                            <%= payment.PaymentDetails %>
                        </td>
                        <td>
                            <%= payment.DateOfPayment %>
                        </td>
                        <td>
                            <%= payment.Price %> 
                        </td>
                    </tr>
                    <% } %> 
            </tbody>
        </table>
    </div>
    <div class="paymentContainer_pending shadow-lg m-2 overflow-auto">
        <table class="paymentContainer_pendingTable table table-borderless table-hover">
            <caption>Pending Payments</caption>
            <thead>
                <tr>
                    <th>Payment Number</th>
                    <th>Payment Details</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr></tr>
                <% for(let payment of pendingPayments[0]) {%>
                    <tr>
                        <td>
                            <%= payment.PaymentNumber %>
                        </td>
                        <td>
                            <%= payment.PaymentDetails %>
                        </td>
                        <td>
                            <%= payment.Price %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
    <% if(type && type === "reception") { %>
    <div class="paymentContainer_handlers m-2">
        <button class="paymentContainer_button paymentContainer_register">Register Payment</button>
        <button class="paymentContainer_button paymentContainer_print">Print Reciept</button>
    </div>
    <% } %> 
</div>