<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("ReportHead.ejs") %>
        <title>Patient Payment Report</title>
        <style>
            p {
                font-size: 10pt;
            }

            td {
                font-size: 12pt;
            }
        </style>
</head>

<body>
    <div class="p-4">
        <header>
            <h2 class="title">AYU PRIMARY HOSPITAL P.L.C</h2>
            <p class="mb-4">TIN: 0001823298 <br>
                A.A S/C YEKA W.13 H.NO NEW <br>
                AROUND YEKA ABADO <br>
                TEL 0930071329/0911895942</p>
        </header>
        <h3 class="text-center">Daily Income Report</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Payment Number</th>
                    <th scope="col">Receptionist Name</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Payment Details</th>
                    <th scope="col">Date Of Payment</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <% for(let transaction of transactions) { %>
                    <tr>
                        <td>
                            <%= transaction.PaymentNumber %>
                        </td>
                        <td>
                            <%= transaction.ReceptionName %>
                        </td>
                        <td>
                            <%= transaction.PatientName %>
                        </td>
                        <td>
                            <%= transaction.PaymentDetails %>
                        </td>
                        <td>
                            <%= transaction.DateOfPayment %>
                        </td>
                        <td>
                            <%= transaction.Price %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
            <tfoot class="justify-right">
                <th class="text-end" colspan="5">Total</th>
                <td>
                    <%= total %>
                </td>
            </tfoot>
        </table>
    </div>
</body>

</html>