<div class="container-fluid infoContainer h-100 ">
    <div class="row gy-2 align-items-center infoBox">
        <div class="infoBox_element col-auto">
            <span class="infoBox_label">Patient Number: </span>
            <p class="infoBox_value">
                <%= info[0][0].PatientNumber %>
            </p>
        </div>

        <div class="infoBox_element col-auto">
            <span class="infoBox_label">Name: </span>
            <span class="infoBox_value">
                <%= info[0][0].Name %>
            </span>
        </div>

        <div class="infoBox_element col-auto">
            <span class="infoBox_label">Age: </span>
            <span class="infoBox_value">
                <%= parseInt(info[0][0].Age) %>
            </span>
        </div>

        <div class="infoBox_element col-auto">
            <span class="infoBox_label">Gender: </span>
            <span class="infoBox_value">
                <%= info[0][0].Gender.toUpperCase() %>
            </span>
        </div>

        <div class="infoBox_element col-auto">
            <span class="infoBox_label">Card Number: </span>
            <span class="infoBox_value">
                <%= info[0][0].CardNumber %>
            </span>
        </div>

        <div class="infoBox_element col-auto">
            <span class="infoBox_label">Address: </span>
            <span class="infoBox_value">
                <%= info[0][0].Address %>
            </span>
        </div>

        <div class="infoBox_element col-auto">
            <span class="infoBox_label">Phone Number: </span>
            <span class="infoBox_value">
                <%= info[0][0].PhoneNumber %>
            </span>
        </div>
    </div>
    <div class="infoBox_element col-auto row ">
        <span class="infoBox_label">Appointment: </span>
        <div class="col-3">
            <input class="form-control" id="appointment" type="date" name="patient[dateOfBirth]"
                min="<%= `${year}-${month}-${day}` %> " required="">
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary btn-sm">Save Appointment</button>
        </div>

    </div>
    <div class="previousDiagnostics shadow-lg  m-2 overflow-auto">
        <table class="previousDiagnosticsTable table table-borderless table-hover">
            <caption>Previous Diagnostics</caption>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Discription</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th> 12-2-2019</th>
                    <th>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quis molestiae adipisci excepturi
                        nulla in velit, quisquam, error quos blanditiis optio incidunt, et impedit. Doloribus incidunt
                        rem sapiente cum sit.</th>
                </tr>
                <tr>
                    <th>12-2-2019</th>
                    <th>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quis molestiae adipisci excepturi
                        nulla in velit, quisquam, error quos blanditiis optio incidunt, et impedit. Doloribus incidunt
                        rem sapiente cum sit.</th>
                </tr>
                <tr>
                    <th>12-2-2019</th>
                    <th>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quis molestiae adipisci excepturi
                        nulla in velit, quisquam, error quos blanditiis optio incidunt, et impedit. Doloribus incidunt
                        rem sapiente cum sit.</th>
                </tr>
                <tr>
                    <th>12-2-2019</th>
                    <th>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quis molestiae adipisci excepturi
                        nulla in velit, quisquam, error quos blanditiis optio incidunt, et impedit. Doloribus incidunt
                        rem sapiente cum sit.</th>
                </tr>
                <tr>
                    <th>12-2-2019</th>
                    <th>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quis molestiae adipisci excepturi
                        nulla in velit, quisquam, error quos blanditiis optio incidunt, et impedit. Doloribus incidunt
                        rem sapiente cum sit.</th>
                </tr>
                <tr>
                    <th>12-2-2019</th>
                    <th>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quis molestiae adipisci excepturi
                        nulla in velit, quisquam, error quos blanditiis optio incidunt, et impedit. Doloribus incidunt
                        rem sapiente cum sit.</th>
                </tr>
                <tr>
                    <th>12-2-2019</th>
                    <th>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quis molestiae adipisci excepturi
                        nulla in velit, quisquam, error quos blanditiis optio incidunt, et impedit. Doloribus incidunt
                        rem sapiente cum sit.</th>
                </tr>
                <tr>
                    <th>12-2-2019</th>
                    <th>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quis molestiae adipisci excepturi
                        nulla in velit, quisquam, error quos blanditiis optio incidunt, et impedit. Doloribus incidunt
                        rem sapiente cum sit.</th>
                </tr>
                <tr>
                    <th>12-2-2019</th>
                    <th>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quis molestiae adipisci excepturi
                        nulla in velit, quisquam, error quos blanditiis optio incidunt, et impedit. Doloribus incidunt
                        rem sapiente cum sit.</th>
                </tr>
                <tr>
                    <th>12-2-2019</th>
                    <th>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quis molestiae adipisci excepturi
                        nulla in velit, quisquam, error quos blanditiis optio incidunt, et impedit. Doloribus incidunt
                        rem sapiente cum sit.</th>
                </tr>

            </tbody>
        </table>
    </div>
</div>