<div class="container-fluid infoContainer">
    <div class="row gy-2 align-items-center infoBox">
        <div class="infoBox_element col-auto">
            <% if(role === 'Doctor') { %> 
            <span class="infoBox_label">Doctor Number: </span>
            <span class="infoBox_value">
                <%= info[0].DoctorNumber %>
            </span>
            <% }else if(role === 'Lab Technician') { %> 
                <div class="infoBox_element col-auto">
                    <span class="infoBox_label">Lab Technician Number: </span>
                    <span class="infoBox_value">
                        <%= info[0].TechnicianNumber %>
                    </span>
                </div>
            <% }else if(role === 'Receptionist'){ %> 
                <div class="infoBox_element col-auto">
                    <span class="infoBox_label">Receptionist Number: </span>
                    <span class="infoBox_value">
                        <%= info[0].ReceptionNumber %>
                    </span>
                </div>
            <% } %> 
        </div>

        <% if(role === 'Doctor') { %> 
            <span class="infoBox_label">Doctor's Name: </span>
            <span class="infoBox_value">
                <%= info[0].DoctorName %>
            </span>
            <% }else if(role === 'Lab Technician') { %> 
                <div class="infoBox_element col-auto">
                    <span class="infoBox_label">Lab Technician Name: </span>
                    <span class="infoBox_value">
                        <%= info[0].TechnicianName %>
                    </span>
                </div>
            <% }else if(role === 'Receptionist'){ %> 
                <div class="infoBox_element col-auto">
                    <span class="infoBox_label">Receptionist Name: </span>
                    <span class="infoBox_value">
                        <%= info[0].ReceptionName %>
                    </span>
                </div>
            <% } %>

        <div class="infoBox_element col-auto">
            <span class="infoBox_label">Date Of Birth: </span>
            <span class="infoBox_value">
                <%= info[0].DateOfBirth %>
            </span>
        </div>

        <div class="infoBox_element col-auto">
            <span class="infoBox_label">Phone Number: </span>
            <span class="infoBox_value">
                <%= info[0].PhoneNumber %>
            </span>
        </div>

        <div class="infoBox_element col-auto">
            <span class="infoBox_label">Username: </span>
            <span class="infoBox_value">
                <%= info[0].UserName %>
            </span>
        </div>
    </div>
</div>